<div class="parallax background-mountain">
    <div class="container-fluid remaining-height paralax-font">

        <form action="form results.html" method="GET" class="col-md-8 offset-md-3 needs-validation">
            <div class="container text-white">
                <!--First / Last name etc -->
                <h1 class="col-12 justify-content-center">My Contact Form</h1>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label" for="firstName">First Name:</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter First Name" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label" for="lastName">Last Name:</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter Last Name" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="form-label" for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" required>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="form-message" for="message">Message</label>
                        <textarea type="textarea" class="form-control" id="message" name="message" placeholder="What you want?" rows="6"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg" id="submit">Submit</button>
                <button type="reset" class="btn btn-primary btn-lg">Reset</button>
            </div> <!--End of Container-->
        </form>
    </div>
</div>

