<div class="parallax background-mountain">
    <div class="container-fluid remaining-height paralax-font">
        <form action="https://formsubmit.co/2a04ecb07aab90a27da215270fb73022" method="post" class="needs-validation">
            <input type="hidden" name="_next" value="https://trevorreeves.azurewebsites.net/contact/thankyou">
            <input type="hidden" name="_subject" value="New submission!">
            <div class="container text-white align-self-center justify-content-center pb-2">
                <!--First / Last name etc -->
                <h1 class="col-12 text-center text-warning">Contact Me</h1>
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label" for="firstName">First Name:</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter First Name" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label" for="lastName">Last Name:</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter Last Name" required>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="form-label" for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" required>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="form-message" for="message">Message</label>
                            <textarea type="textarea" class="form-control" id="message" name="message" placeholder="Your Message" rows="6"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-primary btn-lg" id="submit">Submit</button>
                        <button type="reset" class="btn btn-primary btn-lg">Reset</button>
                    </div>
                </div>
            </div> <!--End of Container-->
        </form>
    </div>
</div>

