<div container>
    <div class="row">
        <div class="col-12 text-center text-white">
            <h1>Thank you! Your message was successfully sent</h1>
            <a href="https://trevorreeves.azurewebsites.net">Return to Homepage</a>
        </div>
    </div>
</div>
