<div class="container">
    <div class="row justify-content-between">
        <div class="col-auto">
            &copy; @DateTime.Now.Year - Trevor Reeves | <a href="~/photos/Trevor_Reeves_Resume.pdf">View Resume</a>
        </div>
        <div class="col-auto pl-sm-2">
            <a href="https://www.linkedin.com/in/trevorreeves/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/reevest2"><i class="fab fa-github"></i></a>
        </div>
    </div>
</div>