<div class="container p-3">
    <div class="d-flex flex-wrap align-items-start justify-content-around" style="row-gap:2em">
        <div class="card" style="width: 24rem;">
            <img class="card-img-top" src="~/photos/portfolio_homepage.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title lead"><b>Portfolio Website</b></h5>
                <p class="card-text"> <div class="lead">Description:</div> A website using ASP.NET Core MVC hosted on Azure to showcase projects I've created</p>
            </div>
            <div class="text-center">
                <button class="btn btn-primary w-75" data-toggle="collapse" data-target="#card1">Show More</button>
            </div>
            <ul class="list-group list-group-flush collapse" id="card1">
                <li class="list-group-item">
                    <b>Challenges:</b> The biggest challenges was vertical alignment, with responsive design in mind. Two areas I had trouble with were
                    making sure that the fixed navbar wasn't covering text and the footer stuck to the bottom (it kept floating up on mobile devices).
                </li>
                <li class="list-group-item">
                    <b>Solutions:</b> Adding padding to the body top helps prevent the fixed navbar from covering text, that
                    adjusts based on the width of the viewport at 350px. The footer was floating up was really an issue of text breaking out of a container
                    with a calulated height, which was fixed by adding a min-height to the container so the text doesn't break ' .
                </li>
                <li class="list-group-item">
                    <b>What I learned:</b> I learned that designing a website from scratch can be difficult,
                    not in terms of code but in terms of choosing colors, designing layouts, figuring out what look you want to acheive, etc.
                    I learned bootstrap, using the grid system, flexbox, aligning text, navbars, and more. I also learned how to create and apply custom css.
                </li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="card" style="width: 24rem;">
            <img class="card-img-top" src="~/photos/portfolio_homepage.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title lead"><b>Portfolio Website</b></h5>
                <p class="card-text"> <div class="lead">Description:</div> A website using ASP.NET Core MVC hosted on Azure to showcase projects I've created</p>
            </div>
            <button class="btn btn-primary" data-toggle="collapse" data-target="#card2">Show More</button>
            <ul class="list-group list-group-flush collapse" id="card2">
                <li class="list-group-item">
                    <b>Challenges:</b> The biggest challenges was vertical alignment, with responsive design in mind. Two areas I had trouble with were
                    making sure that the fixed navbar wasn't covering text and the footer stuck to the bottom (it kept floating up on mobile devices).
                </li>
                <li class="list-group-item">
                    <b>Solutions:</b> Adding padding to the body top helps prevent the fixed navbar from covering text, that
                    adjusts based on the width of the viewport at 350px. The footer was floating up was really an issue of text breaking out of a container
                    with a calulated height, which was fixed by adding a min-height to the container so the text doesn't break ' .
                </li>
                <li class="list-group-item">
                    <b>What I learned:</b> I learned that designing a website from scratch can be difficult,
                    not in terms of code but in terms of choosing colors, designing layouts, figuring out what look you want to acheive, etc.
                    I learned bootstrap, using the grid system, flexbox, aligning text, navbars, and more. I also learned how to create and apply custom css.
                </li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="card" style="width: 24rem;">
            <img class="card-img-top" src="~/photos/portfolio_homepage.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title lead"><b>Portfolio Website</b></h5>
                <p class="card-text"> <div class="lead">Description:</div> A website using ASP.NET Core MVC hosted on Azure to showcase projects I've created</p>
            </div>
            <button class="btn btn-primary" data-toggle="collapse" data-target="#card3">Show More</button>
            <ul class="list-group list-group-flush collapse" id="card3">
                <li class="list-group-item">
                    <b>Challenges:</b> The biggest challenges was vertical alignment, with responsive design in mind. Two areas I had trouble with were
                    making sure that the fixed navbar wasn't covering text and the footer stuck to the bottom (it kept floating up on mobile devices).
                </li>
                <li class="list-group-item">
                    <b>Solutions:</b> Adding padding to the body top helps prevent the fixed navbar from covering text, that
                    adjusts based on the width of the viewport at 350px. The footer was floating up was really an issue of text breaking out of a container
                    with a calulated height, which was fixed by adding a min-height to the container so the text doesn't break ' .
                </li>
                <li class="list-group-item">
                    <b>What I learned:</b> I learned that designing a website from scratch can be difficult,
                    not in terms of code but in terms of choosing colors, designing layouts, figuring out what look you want to acheive, etc.
                    I learned bootstrap, using the grid system, flexbox, aligning text, navbars, and more. I also learned how to create and apply custom css.
                </li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
</div>
