<div class="container p-3" >
    <div class="d-flex flex-wrap align-items-start justify-content-around" style="row-gap:2em; padding-bottom: 50px">
        
        <div class="card" style="width: 24rem;">
            <img class="card-img-top" src="~/photos/portfolio_homepage.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title lead"><b>Portfolio Website - Static Website</b></h5>
                <p class="card-text"> <div class="lead">Description:</div> A website using ASP.NET Core MVC hosted on Azure to practice Front-End and showcase projects I've created.</p>
            </div>
            <div class="text-center">
                <button class="btn btn-primary w-75" data-toggle="collapse" data-target="#card1">Show More</button>
            </div>
            <ul class="list-group list-group-flush collapse" id="card1">
                <li class="list-group-item">
                    <b>Challenges:</b> The biggest challenge was vertical alignment, with responsive design in mind. Two areas I had trouble aligning vertically were
                    making sure that the fixed navbar wasn't covering text in the body, and keeping the footer stuck to the bottom.
                </li>
                <li class="list-group-item">
                    <b>Solutions:</b> Adding padding to the body top helps prevent the fixed navbar from covering text. The footer was floating up was really an issue of text breaking out of a container
                    with a calulated height. This was fixed by adding a min-height to the container so the text doesn't break out.
                </li>
                <li class="list-group-item">
                    <b>What I learned:</b> I learned that designing a simple website from scratch can be difficult,
                    not in terms of code complexity but in terms of choosing colors, designing layouts, figuring out what look you want to acheive, etc.
                    With Bootstrap I learned: using the grid system, flexbox, aligning text, navbars, and more. I also learned that you can use calc() in css to calculate height.
                </li>
            </ul>
            <div class="card-body">
                <a href="https://trevorreeves.azurewebsites.net/" class="card-link" target="_blank" rel="noopener noreferrer">Project</a>
                <a href="https://github.com/reevest2/personalwebsite" class="card-link" target="_blank" rel="noopener noreferrer">Github</a>
            </div>
        </div>
        

        <div class="card" style="width: 24rem;">
            <img class="card-img-top" src="~/photos/movies_homepage.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title lead"><b>Movies Website - Fullstack Web App</b></h5>
                <p class="card-text"> <div class="lead">Description:</div>A website sitting on top of an API to connect to MongoDB with full CRUD operations.</p> <br>
            </div>
            <div class="text-center">
                <button class="btn btn-primary w-75" data-toggle="collapse" data-target="#card2">Show More</button>
            </div>
            <ul class="list-group list-group-flush collapse" id="card2">
                <li class="list-group-item">
                    <b>Challenges:</b> This project was full of challenges. From trying to learn about depenency injection, generics, to trying to connect to the API.
                </li>
                <li class="list-group-item">
                    <b>Solutions:</b> Just get started and try and figure out as much as I could on my own. Usually I could get about 95% of the way there, and ask for help on the last bit to get it working.
                </li>
                <li class="list-group-item">
                    <b>What I learned:</b> I learned about dependency injection and what the pattern looks like. I also learned about using generics.
                </li>
            </ul>
            <div class="card-body">
                <a href="https://movies20210929194249.azurewebsites.net/" class="card-link" target="_blank" rel="noopener noreferrer">Project</a>
                <a href="https://github.com/reevest2/movies" class="card-link" target="_blank" rel="noopener noreferrer">Github</a>
            </div>
        </div>
       

        <div class="card" style="width: 24rem;">
            <img class="card-img-top" src="~/photos/api_homepage.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title lead"><b>Movies API - API</b></h5>
                <p class="card-text"> <div class="lead">Description:</div>An API used to connect to MongoDB repository.</p> <br>
            </div>
            <div class="text-center">
                <button class="btn btn-primary w-75" data-toggle="collapse" data-target="#card3">Show More</button>
            </div>
            <ul class="list-group list-group-flush collapse" id="card3">
                <li class="list-group-item">
                    <b>Challenges:</b> This project was full of challenges. From trying to learn about llambda expression, generics, to setting up the connection string.
                </li>
                <li class="list-group-item">
                    <b>Solutions:</b> Just get started and try and figure out as much as I could on my own. Usually I could get about 95% of the way there, and ask for help on the last bit to get it working.
                </li>
                <li class="list-group-item">
                    <b>What I learned:</b> After this project I was more comfortable using properties, generics, llambda expressions, and identifying the dependency injection pattern.
                </li>
            </ul>
            <div class="card-body">
                <a href="https://movieapi20210928214652.azurewebsites.net/index.html" class="card-link" target="_blank" rel="noopener noreferrer">Project</a>
                <a href="https://github.com/reevest2/movies-api" class="card-link" target="_blank" rel="noopener noreferrer">Github</a>
            </div>
        </div>


        <div class="card" style="width: 24rem;">
            <img class="card-img-top" src="~/photos/stopwatch.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title lead"><b>Stopwatch - C# Console App</b></h5>
                <p class="card-text"> <div class="lead">Description:</div>A simple C# console app to create a stopwatch.</p> <br>
            </div>
            <div class="text-center">
                <button class="btn btn-primary w-75" data-toggle="collapse" data-target="#card4">Show More</button>
            </div>
            <ul class="list-group list-group-flush collapse" id="card4">
                <li class="list-group-item">
                    <b>Challenges:</b> This project was relatively straightforward, the biggest challenge was trying to make as many classes private as possible.
                </li>
                <li class="list-group-item">
                    <b>Solutions:</b> Create a minimal viable product quickly, and refactor to conform to best practices. 
                </li>
                <li class="list-group-item">
                    <b>What I learned:</b> I learned that private classes should begin with an underscore "_". I also learned that you should make your methods public, but keep properties private so they cannot be manipulated by outside classes. 
                </li>
            </ul>
            <div class="card-body">
                <a href="https://github.com/reevest2/stopwatch" class="card-link" target="_blank" rel="noopener noreferrer">Github</a>
            </div>
        </div>


    </div>
</div>