<div class="parallax background-mountain">
    <div class="container-fluid remaining-height paralax-font">
        <div class="row" style="height: 75%;">
            <div class="col-md-8">
            </div>
            <div class="col-md-4 text-center text-md-left align-self-center">
                <h1>Hi,</h1>
                <p class="lead"> I'm Trevor,</p>
                <p class="lead text-warning">Full Stack Developer.</p>
                <p class="lead">Passionate about all things .NET </p>
            </div>
        </div>
    </div>
</div>
<section class="text-light p-5" style="background-color: rgb(18 18 18); height: 100vh;">
    <div class="container h-100">
        <div class="row">
            <div class="col-12">
            <h2 class="text-warning text-center">My Skills</h2>
            </div>
        </div>
        <div class="row" style="height:100%">
            <div class="col-6 align-self-center">
                <h3>Languages</h3>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>Git</li>
                    <li>C#</li>

                </ul>
            </div>
            <div class="col-6 align-self-end">
            <img class="img-fluid w-75 d-none d-sm-block" src="~/photos/background images/image-computerguy.png" />
            </div>
        </div>
    </div>
</section>