<div class="parallax background-mountain">
    <div class="container-fluid remaining-height paralax-font">
        <div class="row" style="height: 75%;">
            <div class="col-md-8">
            </div>
            <div class="col-md-4 text-center text-md-left align-self-center">
                <h1>Hi,</h1>
                <p class="lead"> I'm Trevor,</p>
                <p class="lead text-warning">Full Stack Developer.</p>
                <p class="lead">Passionate about all things .NET </p>
            </div>
        </div>
    </div>
    <div class="container-fluid paralax-fontdarker">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-warning text-center">My Skills</h2>
                </div>
            </div>
            <div class="text-light p-5">
                <div class="d-flex flex-wrap justify-content-between">
                    <div>
                        <h3 class=" text-center">Languages</h3>
                        <ul>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JavaScript</li>
                            <li>C#</li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="text-center">Tools</h3>
                        <ul>
                            <li>Visual Studio</li>
                            <li>Visual Studio Code</li>
                            <li>GitHub</li>
                            <li>Fork</li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="text-center">Frameworks</h3>
                        <ul>
                            <li>ASP.NET Core</li>
                            <li>Entity Framework</li>
                            <li>Bootstrap</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    <form action="form results.html" method="GET" class="needs-validation">
        <div class="container text-white align-self-center justify-content-center pb-2">
            <!--First / Last name etc -->
            <h1 class="col-12 text-center">My Contact Form</h1>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label" for="firstName">First Name:</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter First Name" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label" for="lastName">Last Name:</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter Last Name" required>
                    </div>
                </div>
            </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="form-group">
                    <label class="form-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" required>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="form-group">
                    <label class="form-message" for="message">Message</label>
                    <textarea type="textarea" class="form-control" id="message" name="message" placeholder="What you want?" rows="6"></textarea>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
            <button type="submit" class="btn btn-primary btn-lg" id="submit">Submit</button>
            <button type="reset" class="btn btn-primary btn-lg">Reset</button>
            </div>
        </div>
        </div> <!--End of Container-->
    </form>
    </div>
</div>


