<div class="parallax background-mountain">
    <div class="container-fluid remaining-height" style="border: double; border-color:black">
        <div class="row" style="height: 100%; border: solid; border-color:red">
            <div class="col-sm-2 h-auto" style="border:dotted; border-color:hotpink">
                <div class="row paralax-font" style="height: 100%; border: solid; border-color:red">
                    <div class="col-sm-12 align-self-center" style="border: dotted; border-color: hotpink">
                        <p class="text-center">Text Center Left</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 h-auto" style="border:dotted; border-color:blue;">
                <div class="row" style="border:solid; border-color:darkblue">
                    <div class="col-12" style="border:dashed; border-color:green">
                        <p>SOME OTHER TEXT</p>
                    </div>
                    <div class="col-12" style="border:dashed; border-color:green">
                        <p>SOME OTHER TEXT</p>
                    </div>
                    <div class="col-12" style="border:dashed; border-color:green">
                        <p>SOME OTHER TEXT</p>
                    </div>
                    <div class="col-12" style="border:dashed; border-color:green">
                        <p>SOME OTHER TEXT</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
