<div class="parallax background-mountain">
    <div class="container-fluid remaining-height paralax-font">
        <div class="row" style="height: 75%;">
            <div class="col-md-8">
            </div>
            <div class="col-md-4 text-center text-md-left align-self-center">
                <h1>Hi,</h1>
                <p class="lead"> I'm Trevor,</p>
                <p class="lead text-warning">Full Stack Developer.</p>
                <p class="lead">Passionate about all things .NET </p>
            </div>
        </div>
    </div>
<div class="container-fluid paralax-fontdarker remaining-height">
    <div class="text-light p-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-warning text-center">My Skills</h2>
                </div>
            </div>
            <div class="row" style="height:100%">
                <div class="col-6 align-self-center">
                    <h3>Languages</h3>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>C#</li>
                    </ul>
                    <h3>Tools</h3>
                    <ul>
                        <li>Visual Studio</li>
                        <li>Visual Studio Code</li>
                        <li>GitHub</li>
                        <li>Fork</li>
                    </ul>
                    <h3>Frameworks</h3>
                    <ul>
                        <li>ASP.NET Core</li>
                        <li>Entity Framework</li>
                        <li>Bootstrap</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>

