<div class="parallax background-mountain">
    <div class="container-fluid remaining-height">
        <div class="row" style="height: 100%;">
            <div class="col-sm-2 h-auto">
                <div class="row paralax-font" style="height:100%">
                    <div class="col-sm-12 align-self-center">
                        <p class="text-center">Text Center Left</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 h-auto paralax-font">
                <div class="row">
                    <div class="col-12" style="padding-top: 15px">
                        <p>SOME OTHER TEXT</p>
                    </div>
                    <div class="col-12">
                        <p>SOME OTHER TEXT</p>
                    </div>
                    <div class="col-12">
                        <p>SOME OTHER TEXT</p>
                    </div>
                    <div class="col-12">
                        <p>SOME OTHER TEXT</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
