<div class="parallax background-mountain">
    <div class="container-fluid remaining-height paralax-font">
        <div class="row" style="height: 75%;">
            <div class="col-md-8">
            </div>
            <div class="col-md-4 text-center text-md-left align-self-center">
                <h1>Hi,</h1>
                <p class="lead"> I'm Trevor,</p>
                <p class="lead">Full Stack Developer.</p>
                <p class="lead">Passionate about all things .Net </p>
            </div>
        </div>
    </div>
</div>
<div style="background-color: black; height: 100vh;">

</div>