<div class="parallax background-mountain">
    <div class="container-fluid remaining-height paralax-font">
        <div class="row" style="height: 75%;">
            <div class="col-md-8">
            </div>
            <div class="col-md-4 text-center text-md-left align-self-center">
                <h1>Hi,</h1>
                <p class="lead"> I'm Trevor,</p>
                <p class="lead text-warning">Full Stack Developer.</p>
                <p class="lead">Passionate about all things .Net </p>
            </div>
        </div>
    </div>
</div>
<section class="text-light p-5" style="background-color: rgb(18 18 18); height: 100vh;">
    <div class="container">
        <div class="d-md-flex">
            <div><h2>My Skills</h2></div>
            <img class="img-fluid w-50" src="~/photos/background images/image-computerguy.png" />
        </div>
    </div>
</section>