<div class="parallax background-mountain">
    <div class="container-fluid remaining-height paralax-font">
        <div class="row" style="height: 75%;">
            <div class="col-sm-8">
            </div>
            <div class="col-sm-4 text-center align-self-center">
                <h1>Full Stack Developer</h1>
                <p class="lead">Hi I'm Trevor and I am a Full Stack Developer</p>
            </div>
        </div>
    </div>
</div>
