<div class="parallax">
    <div class="d-flex vh-100">
        <div class="d-flex w-100 justify-content-end align-self-center pr-5 pb-5">
            <button class="btn btn-primary">
                Download
            </button>
        </div>
    </div>
</div>