<div class="container" style="border: dashed; height: 86vh">
    <div class="row align-items-start" style="border: dashed; height: 33%">
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            Two of three columns
        </div>
        <div class="col">
            Three of three columns
        </div>
    </div>
    <div class="row align-items-center" style="border: dashed; height: 34%">
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            One of three columns
        </div>
    </div>
    <div class="row align-items-end" style="border: dashed; height: 33%">
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            One of three columns
        </div>
    </div>
</div>