<div class="container" style="border: dashed; height: 86vh">
    <div class="row align-items-start h-25" style="border: dashed">
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            Two of three columns
        </div>
        <div class="col">
            Three of three columns
        </div>
    </div>
    <div class="row align-items-center h-50" style="border: dashed">
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            One of three columns
        </div>
    </div>
    <div class="row align-items-end h-25" style="border: dashed">
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            One of three columns
        </div>
        <div class="col">
            One of three columns
        </div>
    </div>
</div>