
<div class="container pt-2 remaining-height text-white">
    <div class="row">
        <div class="col-12">
            <h1 class="h2 text-warning text-center p-2">About me</h1>
        </div>
        <div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <h3>Who is Trevor?</h3>
                    <p>
                        Hi, my name is Trevor and I like solving problems. In my free time you can usually catch me coding, playing video games, watching a movie, or playing with my dog. Sometimes all at the same time.
                    </p>
                    <h3>How did I start programming?</h3>
                    <p>
                        I told one of my programmer friends that I started learning SQL. He asked me what language I was planning to use that in, and recommended I start learning C#. Then he kept asking if I could do this thing or that thing and I was hooked on solving whatever problem was presented. Before I knew it I started looking for my own problems that I could try and figure out how to solve, and I just never stopped.
                    </p>

                    <h3>What's next?</h3>
                    <p>
                        I'm looking to learn as much as I can about programming, from design patterns and algorithms, to how to best setup a workstation and do basic cable management. Everyday I want to know a little more than the day before.
                    </p>
                </div>
                <div class="col-xs-12 col-md-6 align-self-center text-center">
                    <img src="/photos/me-linkedin.jpg" class="img-fluid rounded-circle h-auto" alt="Me" style="max-width:50%">
                </div>
            </div>
        </div>
    </div>
</div>
